AWS_ACCESS_KEY = "your_aws_access_key"
AWS_SECRET_KEY = "your_aws_secret_key"
AWS_REGION = "enter_the_aws_region_to_use"
KEY_NAME = "enter_an_existing_keypair_name"
VPC1_NAME = "enter_an_identifier_name_for_the_first_vpc"
VPC2_NAME = "enter_an_identifier_name_for_the_second_vpc"
VPC1_CIDR_PREFIX = "choose_a_two_block_cidr_prefix_for_the_first_VPC_such_as_10.50"
VPC2_CIDR_PREFIX = "choose_a_non_overlapping_two_block_cidr_prefix_for_the_second_VPC_such_as_10.100"